/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: .8rem;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: 'Pattaya', sans-serif, Helvetica, Arial;
    height: 85vh;   
}

/* Header */

header {
    border-bottom: 1px solid #000;
    padding-bottom: 0.5em;
}

.logo-container {
    display: flex;
    padding: .6em;
    margin: 0;
    height: 75px
}

.logo-title {
    font-size: 3rem;
}

.logo {
    width: 3em;
    height: 3em;
    margin: 0 1em;
    margin-top: .3em;
    margin-right: 2em;
}

/* Join Page Styles */

.centered-form {
    background: #fff;
    width: 100vw;
    /* height: 85vh;    */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.centered-form-card {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #fff;
    padding: 5em;
    min-width: 200px;
    border-radius: 5em;
    margin: 1em 2em;
}

.label {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: .9rem;
    margin-bottom: .6em;
    color: #777;
}

.label-margin-top {
    margin-top: 2em;
}

.card-title {
    font-size: 2rem;
    text-align: center;
}

.centered-form button {
    width: 100%;
}

.input {
    border: 1px solid #eeeeee;
    padding: .8em;
    outline: none;
    margin-bottom: 1em;
    width: 100%;
}

button {
    cursor: pointer;
    padding: 1em;
    background: #7C5CBF;
    border: .1em #000 solid;
    border-radius: 1em;
    color: white;
    font-size: 1rem;
    transition: background .3s ease;
    outline: none;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Footer */
.credits {
    text-align: center;
    color: #808080;
    height: 5vh;
}

.credits  a {
    text-decoration: none;
    color: #808080;
}

.credits a:hover {
    color:  #7C5CBF;
}

@media (max-width: 400px) {
    /* Header */
    header {
        margin-top: .4em;
        height: 55px;
    }

    .logo-container {
        padding: 0 1em;
    }

    .logo-title {
        margin: .1em;
        font-size: 1.8em;
    }

    .logo {
        width: 1.9em;
        height: 1.9em;
        margin: .3em;
        margin-right: 1em;
    }

    /* Container */
    .centered-form {
        min-width: 100vw;
        height: 85vh;   
        display: flex;
    }

    /* Card */
    .centered-form-card {
        padding: 2.2em 2.2em;
        margin-top: .5em;
        margin-bottom: 1em;
        max-width: 300px;
    }

    .card-title {
        text-align: center;
        font-size: 1.5rem;
    }

    .label {
        font-size: .7em;
    }

    .input {
        font-size: .6rem;
    }
    
    /* footer */
    .credits {
        height: 5vh;
    }

    .credits {
        font-size: .8rem;
    }
}

